lib/
obj/
output/
ej2dx
ej2dx.dSYM/*
*.exe
*.dll
*.ilk
*.bsc
*.exp
*.ilk
*.lastbuildstate
*.pdb
*.suo
*.sdf
*.opensdf
*.ipch
*.sln.cache
*_collide.png
*_peak.json
win_run*
xcuserdata/
project.xcworkspace/
