[submodule "ejoy2d"]
	path = ejoy2d
	url = https://github.com/rainfiel/ejoy2d.git
[submodule "src/clib/sproto"]
	path = src/clib/sproto
url=https://github.com/rainfiel/sproto
[submodule "src/clib/Liekkas"]
	path = src/clib/Liekkas
	url = https://github.com/rainfiel/Liekkas.git
[submodule "tools/lua-crust"]
	path = tools/lua-crust
	url = https://github.com/rainfiel/lua-crust.git
[submodule "tools/unity_editor"]
	path = tools/unity_editor
	url = https://github.com/rainfiel/unity_editor.git
