lib/
obj/
output/
doorkickers/
ej2dx
ej2dx.dSYM/*
*.exe
*.dll
*.ilk
*.bsc
*.exp
*.ilk
*.lastbuildstate
*.pdb
*.suo
*.sdf
*.opensdf
*.ipch
*.sln.cache
*_collide.png
*_peak.json
win_run*
sandbox
project/example/platform/ios/frameworks/ejoy2dx/ejoy2dx.xcodeproj/xcuserdata/rainfiel.xcuserdatad/xcschemes
project/example/platform/ios/frameworks/ejoy2dx/ejoy2dx.xcodeproj/project.xcworkspace
project/example/platform/ios/frameworks/lua/lua.xcodeproj/project.xcworkspace
Framework.xcscheme
project/example/platform/ios/frameworks/lua/lua.xcodeproj/xcuserdata/rainfiel.xcuserdatad/xcschemes
