<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Emitter</key>
	<array>
		<dict>
			<key>name</key>
			<string>duration</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sourcePositionVariancex</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sourcePositionVariancey</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>maxParticles</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>angle</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>angleVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>emitterType</string>
			<key>type</key>
			<string>enum</string>
			<key>default</key>
			<string>0</string>
			<key>enum_keys</key>
			<array>
				<string>Gravity</string>
				<string>Radial</string>
			</array>
			<key>enum_values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
	</array>
	<key>Gravity</key>
	<array>
		<dict>
			<key>name</key>
			<string>speed</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>speedVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>gravityx</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>gravityy</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>radialAcceleration</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>radialAccelVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tangentialAcceleration</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tangentialAccelVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
	</array>
	<key>Radial</key>
	<array>
		<dict>
			<key>name</key>
			<string>maxRadius</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>maxRadiusVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>minRadius</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>minRadiusVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rotatePerSecond</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rotatePerSecondVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
	</array>
	<key>ParticleSettings</key>
	<array>
		<dict>
			<key>name</key>
			<string>positionType</string>
			<key>type</key>
			<string>enum</string>
			<key>default</key>
			<string>0</string>
			<key>enum_keys</key>
			<array>
				<string>Free</string>
				<string>Relative</string>
				<string>Grouped</string>
			</array>
			<key>enum_values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>particleLifespan</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>particleLifespanVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>startParticleSize</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>startParticleSizeVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>finishParticleSize</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>finishParticleSizeVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rotationStart</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rotationStartVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rotationEnd</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rotationEndVariance</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
	</array>
	<key>ColorSettings</key>
	<array>
		<dict>
			<key>name</key>
			<string>startColor</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>startColorAlpha</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>startColorVariance</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>startColorVarianceAlpha</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>finishColor</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>finishColorAlpha</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>finishColorVariance</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>finishColorVarianceAlpha</string>
			<key>type</key>
			<string>float</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>blendFuncSource</string>
			<key>type</key>
			<string>enum</string>
			<key>default</key>
			<string>0</string>
			<key>enum_keys</key>
			<array>
				<string>BLEND_GL_ZERO</string>
				<string>BLEND_GL_ONE</string>
				<string>BLEND_GL_SRC_COLOR</string>
				<string>BLEND_GL_ONE_MINUS_SRC_COLOR</string>
				<string>BLEND_GL_SRC_ALPHA</string>
				<string>BLEND_GL_ONE_MINUS_SRC_ALPHA</string>
				<string>BLEND_GL_DST_ALPHA</string>
				<string>BLEND_GL_ONE_MINUS_DST_ALPHA</string>
				<string>BLEND_GL_DST_COLOR</string>
				<string>BLEND_GL_ONE_MINUS_DST_COLOR</string>
				<string>BLEND_GL_SRC_ALPHA_SATURATE</string>
			</array>
			<key>enum_values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0x0300</integer>
				<integer>0x0301</integer>
				<integer>0x0302</integer>
				<integer>0x0303</integer>
				<integer>0x0304</integer>
				<integer>0x0305</integer>
				<integer>0x0306</integer>
				<integer>0x0307</integer>
				<integer>0x0308</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>blendFuncDestination</string>
			<key>type</key>
			<string>enum</string>
			<key>default</key>
			<string>0</string>
			<key>enum_keys</key>
			<array>
				<string>BLEND_GL_ZERO</string>
				<string>BLEND_GL_ONE</string>
				<string>BLEND_GL_SRC_COLOR</string>
				<string>BLEND_GL_ONE_MINUS_SRC_COLOR</string>
				<string>BLEND_GL_SRC_ALPHA</string>
				<string>BLEND_GL_ONE_MINUS_SRC_ALPHA</string>
				<string>BLEND_GL_DST_ALPHA</string>
				<string>BLEND_GL_ONE_MINUS_DST_ALPHA</string>
				<string>BLEND_GL_DST_COLOR</string>
				<string>BLEND_GL_ONE_MINUS_DST_COLOR</string>
				<string>BLEND_GL_SRC_ALPHA_SATURATE</string>
			</array>
			<key>enum_values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0x0300</integer>
				<integer>0x0301</integer>
				<integer>0x0302</integer>
				<integer>0x0303</integer>
				<integer>0x0304</integer>
				<integer>0x0305</integer>
				<integer>0x0306</integer>
				<integer>0x0307</integer>
				<integer>0x0308</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
